* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 95%;
}

#body {
    background-color: rgb(17, 17, 17);
}

#customizeWindow {
    position: absolute;
    width: 600px;
    height: 430px;
    left: 500px;
    top: 150px;
}

#closeRobotMap {
    float: right;
    margin: 5px;
}

#robotMapMenu {
    width: inherit;
    height: 30px;
}

#customizer {
    height: 100%;
    width: 100%;
    background-color: rgb(44, 44, 44);
    z-index: 4;
    border: 2px;
    border-style: inset;
    border-color: orangered;
}

#buttonLeftHarvesting {
    position: relative;
    top: 80px;
    width: 100px;
    height: 30px;
    border: none;
    left: 150px;
}

#buttonRightHarvesting {
    position: relative;
    top: 80px;
    width: 100px;
    height: 30px;
    border: none;
    left: 250px;
}

#buttonFighting {
    position: relative;
    top: -22px;
    width: 100px;
    left: 50px;
    height: 30px;
    border: none;
}

#buttonRetreat {
    position: relative;
    top: -22px;
    width: 100px;
    left: 150px;
    height: 30px;
    border: none;
}

#buttonHovering {
    position: relative;
    top: 38px;
    width: 100px;
    left: -150px;
    height: 30px;
    border: none;
}

#activateImprovedWayfinding {
    z-index: 5;
    position: relative;
    top: 98px;
    width: 100px;
    left: 150px;
    height: 30px;
    border: none;
}

#costDiv {
    position: relative;
    top: 150px;
    left: 100px;
}

#costSpanBioMass {
    display: inline-block;
    position: relative;
    text-align: right;
    width: 50px;
    color: orangered;
    background-color: black;
    padding: 1px;
}

#costLabelBioMass {
    position: relative;
}

#costSpanMetal {
    display: inline-block;
    position: relative;
    left: 20px;
    text-align: right;
    width: 50px;
    color: orangered;
    background-color: black;
    padding: 1px;
}

#costLabelMetal {
    position: relative;
    left: 20px;
}

#costSpanOil {
    display: inline-block;
    position: relative;
    left: 40px;
    text-align: right;
    width: 50px;
    color: orangered;
    background-color: black;
    padding: 1px;
}

#costLabelOil {
    position: relative;
    left: 40px;
}

#costSpanScrap {
    display: inline-block;
    position: relative;
    left: 60px;
    text-align: right;
    width: 50px;
    color: orangered;
    background-color: black;
    padding: 1px;
}

#costLabelScrap {
    position: relative;
    left: 60px;
}

#spawnNewRobot {
    position: relative;
    top: 165px;
    width: 100px;
    left: 200px;
    height: 30px;
    border: none;
}

#closeCustomization {
    position: relative;
    top: 165px;
    width: 100px;
    left: 200px;
    height: 30px;
    border: none;
}

#warningSpan {
    position: relative;
    top: 45px;
    left: -50px;
    width: 160px;
    padding-top: 7px;
    padding-bottom: 5px;
    text-align: center;
    height: 20px;
    display: inline-block;
    background-color: black;
    color: orangered;
}

#activeModule {
    position: relative;
    width: 100px;
    padding-top: 9px;
    padding-bottom: 5px;
    height: 20px;
    background-color: black;
    color: orangered;
    text-align: center;
    left: 250px;
    top: 48px;
}

#activeFightMode {
    position: relative;
    width: 100px;
    padding-top: 9px;
    padding-bottom: 5px;
    height: 20px;
    background-color: black;
    color: orangered;
    text-align: center;
    left: 250px;
    top: 78px;
}

#activeHover {
    position: relative;
    width: 100px;
    padding-top: 9px;
    padding-bottom: 5px;
    height: 20px;
    background-color: black;
    color: orangered;
    text-align: center;
    left: 250px;
    top: 105px;
}

#improvedMovementDiv {
    position: relative;
    width: 100px;
    padding-top: 9px;
    padding-bottom: 5px;
    height: 20px;
    background-color: black;
    color: orangered;
    text-align: center;
    left: 250px;
    top: 130px;
    z-index: 5;
}

#mainMenuBack {
    position: absolute;
    top: 8px;
    left: 8px;
    display: block;
}

#mainMenu {
    position: absolute;
    top: 200px;
    left: 720px;
    z-index: 5;
    background-color: rgb(44, 44, 44);
    padding: 30px;
    text-align: center;
    color: orangered;
    font-size: x-large;
    border: 2px;
    border-style: outset;
    border-color: orangered;
}

#backToMain {
    position: absolute;
    top: 10px;
    left: 1500px;
    width: 120px;
}

#toMainMenu {
    background-color: rgb(44, 44, 44);
    text-align: center;
    color: orangered;
    border: 2px;
    border-style: outset;
    border-color: orangered;
}

#optionMenu {
    display: none;
    position: absolute;
    width: 200px;
    top: 500px;
    left: 690px;
    padding: 10px;
    background-color: rgb(44, 44, 44);
    text-align: center;
    border-style: inset;
    border-color: orangered;
    color: white;
    z-index: 5;
}

#masterVolume {
    width: 190px;
}

#backOption::after {
    content: "back";
}

#sidebar {
    padding: 10px;
    top: 8px;
    left: 8px;
    height: 880px;
    width: 240px;
    position: absolute;
    z-index: 2;
    background-color: rgb(44, 44, 44);
    border-right: 3px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-style: outset;
}

#robotUI {
    padding: 3px;
    width: inherit;
    background-color: rgb(70, 70, 70);
    color: orangered;
    margin-top: 10px;
}

#activateRobot {
    width: 50%;
    height: 20px;
}

#callRobotBack {
    width: 50%;
    height: 20px;
}

#disassembleRobot {
    width: 50%;
    height: 20px;
}

#automateRobot {
    width: 50%;
    height: 20px;
}

#easyRiddle::after {
    content: "easy";
}

#hardRiddle::after {
    content: "hard";
}

#textRiddle::after {
    content: "text";
}

#labyrinthRiddle::after {
    content: "labyrinth";
}

#submitRiddle::after {
    content: "submit";
}

.hidden {
    display: "none";
}

#textRiddleFrame {
    background-color: rgb(44, 44, 44);
    border: 2px;
    border-style: outset;
    border-color: orangered;
    position: absolute;
    top: 50px;
    left: 25%;
    padding: 30px;
    z-index: 4;
}

#textRiddleCenter {
    padding: 10px;
    border: 2px;
    border-style: inset;
    border-color: rgb(94, 94, 94);
    background-color: rgb(70, 70, 70);
    color: orangered;
    font-size: larger;
}

#textRiddleHeader {
    text-align: center;
    font-size: large;
    padding: 5px;
    border: 2px;
    border-style: inset;
    border-color: rgb(94, 94, 94);
    background-color: rgb(70, 70, 70);
    color: orangered;
}

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

#frame001 {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 5px;
}

#color001 {
    color: black;
    font-size: large;
    text-align: left;
}

#center001 {
    text-align: center;
}

.button001 {
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.button002 {
    width: 10px;
    height: 10px;
}

#questMenu {
    display: none;
    background-color: rgb(44, 44, 44);
    border: 2px;
    border-style: outset;
    border-color: orangered;
    position: absolute;
    top: 300px;
    left: 550px;
    padding: 30px;
    z-index: 4;
}

#questUI {
    align-content: justify;
    padding: 10px;
    border: 2px;
    color: orangered;
    border-style: inset;
    border-color: rgb(94, 94, 94);
    background-color: rgb(70, 70, 70);
}

#ressourceBar {
    position: absolute;
    left: 706px;
    top: 606px;
    font-size: large;
    padding: 5px;
    background-color: rgb(44, 44, 44);
    color: orangered;
    width: 193px;
    height: 85px;
    z-index: 1;
}

#ressourceNames {
    display: inline-block;
}

#ressourceValues {
    position: relative;
    left: 70px;
    display: inline-block;
    text-align: right;
}

#UI-Biomass-outer {
    position: relative;
}

#UI-Biomass {
    position: relative;
}

#UI-Scrap-outer {
    position: relative;
}

#UI-Scrap {
    position: relative;
}

#UI-Oil-outer {
    position: relative;
}

#UI-Oil {
    position: relative;
}

#UI-Metal-outer {
    position: relative;
}

#UI-Metal {
    position: relative;
}

#startRiddle {
    position: absolute;
    top: 600px;
    left: 600px;
}

#showQuest {
    position: absolute;
    top: 600px;
    left: 690px;
}

#createRobot {
    position: absolute;
    top: 375px;
    left: 1020px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    background-size: contain;
    width: 590px;
    height: 360px;
    background-size: contain;
    background-repeat: no-repeat;
}

#createRobot:hover {
    background-image: url("./Art/armsFreeGlow.png");
    z-index: 2;
    position: absolute;
    top: 334px;
    left: 994px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    background-size: contain;
    width: 657px;
    height: 445px;
    background-size: contain;
    background-repeat: no-repeat;
}

#startRiddle {
    position: absolute;
    top: 706px;
    left: 522px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    background-size: contain;
    width: 280px;
    height: 202px;
    background-size: contain;
    background-repeat: no-repeat;
}

#startRiddle:hover {
    background-image: url("./Art/left_consoleFreeGlow.png");
    z-index: 2;
    top: 662px;
    left: 479px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    background-size: contain;
    width: 373px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
}

#showQuest {
    position: absolute;
    top: 662px;
    left: 763px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    background-size: contain;
    width: 369px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
}

#showQuest:hover {
    background-image: url("./Art/right_consoleFreeGlow.png");
    z-index: 2;
    top: 662px;
    left: 763px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    background-size: contain;
    width: 369px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
}

#openLog {
    position: absolute;
    top: 330px;
    left: 120px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    background-size: contain;
    width: 420px;
    height: 230px;
    background-size: contain;
    background-repeat: no-repeat;
}

#openLog:hover {
    background-image: url("./Art/archiveFreeGlow.png");
    z-index: 2;
    top: 289px;
    left: 77px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    background-size: contain;
    width: 501px;
    height: 350px;
    background-size: contain;
    background-repeat: no-repeat;
}

#robotMap {
    position: absolute;
    top: 9px;
    left: 350px;
}

#showRobotMap {
    position: absolute;
    top: 65px;
    left: 219px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    background-size: contain;
    width: 480px;
    height: 280px;
    background-size: contain;
    background-repeat: no-repeat;
}

#showRobotMap:hover {
    background-image: url("./Art/screenFreeGlow.png");
    z-index: 2;
    top: 16px;
    left: 170px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    background-size: contain;
    width: 576px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
}

#logbook {
    display: none;
    position: absolute;
    top: 59px;
    left: 179px;
    background-color: rgb(44, 44, 44);
    color: orangered;
    width: 1200px;
    height: 760px;
    border: 2px;
    border-style: inset;
    border-color: orangered;
    padding: 20px;
    z-index: 3;
}

#logbook-story {
    padding: 5px;
    display: block;
    background: rgb(70, 70, 70);
    margin-top: 50px;
    height: 670px;
}

#logbook-quest {
    padding: 5px;
    display: none;
    background: rgb(94, 94, 94);
    margin-top: 50px;
    height: 670px;
}

#closeLog {
    float: right;
    border: outset;
    border-color: rgb(34, 34, 34);
    background-color: rgb(70, 70, 70);
    color: orangered;
}

#storyLogs {
    position: relative;
    top: 50px;
    border: none;
    background-color: rgb(70, 70, 70);
    color: white;
    width: 80px;
    height: 30px;
}

#questLogs {
    position: relative;
    top: 50px;
    border: none;
    background-color: rgb(94, 94, 94);
    color: white;
    width: 80px;
    height: 30px;
}

#blocker {
    position: fixed;
    z-index: 1;
    backdrop-filter: blur(2.5px);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(196, 196, 196, 0.322);
    display: block;
}

#worldCreation {
    z-index: 4;
    background-color: rgb(44, 44, 44);
    color: orangered;
    position: absolute;
    width: 300px;
    height: 180px;
    top: 300px;
    left: 650px;
    padding: 10px;
    border: 2px;
    border-style: outset;
    border-color: orangered;
    text-align: center;
    font-size: larger;
}

#saveWorld {
    background-color: rgb(70, 70, 70);
    text-align: center;
    color: orangered;
    border: 2px;
    border-style: outset;
    border-color: orangered;
    padding: 5px;
    width: 180px;
}

#createWorldButton {
    background-color: rgb(70, 70, 70);
    text-align: center;
    color: orangered;
    border: 2px;
    border-style: outset;
    border-color: orangered;
    padding: 5px;
    width: 180px;
}

#storyImageContainer {
    background-color: rgb(94, 94, 94);
    padding: 10px;
}

#storyImageContainerLog {
    position: absolute;
    background-color: rgb(94, 94, 94);
    width: 1280px;
    top: -30px;
    left: -30px;
    padding: 10px;
}

#questImageContainer {
    position: absolute;
    background-color: rgb(94, 94, 94);
    width: 1280px;
    top: -250px;
    left: -250px;
    padding: 10px;
}

#questImageContainerLog {
    position: absolute;
    background-color: rgb(94, 94, 94);
    width: 1280px;
    top: 10px;
    left: -30px;
    padding: 10px;
}

#storyCloseImage {
    background-color: rgb(70, 70, 70);
    text-align: center;
    color: orangered;
    font-size: larger;
    border: 2px;
    border-style: outset;
    border-color: orangered;
    padding: 5px;
    float: right;
}

#questCloseImage {
    background-color: rgb(70, 70, 70);
    text-align: center;
    color: orangered;
    font-size: larger;
    border: 2px;
    border-style: outset;
    border-color: orangered;
    padding: 5px;
    float: right;
}

.inputRiddle {
    background-color: rgb(94, 94, 94);
    width: 120px;
}

#riddleSubmit {
    background-color: rgb(44, 44, 44);
    text-align: center;
    color: orangered;
    font-size: larger;
    border: 2px;
    border-style: outset;
    border-color: orangered;
    padding: 5px;
}

#riddleClose {
    background-color: rgb(44, 44, 44);
    text-align: center;
    color: orangered;
    font-size: larger;
    border: 2px;
    border-style: outset;
    border-color: orangered;
    padding: 5px;
}

#finishQuest {
    background-color: rgb(44, 44, 44);
    text-align: center;
    color: orangered;
    font-size: larger;
    border: 2px;
    border-style: outset;
    border-color: orangered;
    padding: 5px;
}

#hideQuestButton {
    background-color: rgb(44, 44, 44);
    text-align: center;
    color: orangered;
    font-size: larger;
    border: 2px;
    border-style: outset;
    border-color: orangered;
    padding: 5px;
}

#showHideQuest {
    background-color: rgb(44, 44, 44);
    text-align: center;
    color: orangered;
    font-size: larger;
    border: 2px;
    border-style: outset;
    border-color: orangered;
    padding: 5px;
}

#showHideStory {
    background-color: rgb(44, 44, 44);
    text-align: center;
    color: orangered;
    font-size: larger;
    border: 2px;
    border-style: outset;
    border-color: orangered;
    padding: 5px;
}

#reviewPrologue {
    background-color: rgb(44, 44, 44);
    text-align: center;
    color: orangered;
    font-size: larger;
    border: 2px;
    border-style: outset;
    border-color: orangered;
    padding: 5px;
}

#storyUI {
    position: absolute;
    background-color: rgb(70, 70, 70);
    top: 15px;
    left: 148px;
    padding: 8px;
    text-align: center;
    z-index: 4;
    border: 4px;
    border-color: orangered;
    border-style: outset;
    color: orangered;
    font-size: larger;
}

#closeStory {
    background-color: rgb(44, 44, 44);
    text-align: center;
    color: orangered;
    font-size: larger;
    border: 2px;
    border-style: outset;
    border-color: orangered;
    padding: 5px;
    width: 50px;
    float: right;
}

#newGame {
    background-color: rgb(70, 70, 70);
    text-align: center;
    color: orangered;
    border: 2px;
    border-style: outset;
    border-color: orangered;
    padding: 5px;
    width: 150px;
}

#loadGame {
    background-color: rgb(70, 70, 70);
    text-align: center;
    color: orangered;
    border: 2px;
    border-style: outset;
    border-color: orangered;
    padding: 5px;
    width: 150px;
}

#option {
    background-color: rgb(70, 70, 70);
    text-align: center;
    color: orangered;
    border: 2px;
    border-style: outset;
    border-color: orangered;
    padding: 5px;
    width: 150px;
}

#prologueDiv {
    display: none;
    z-index: 4;
    position: absolute;
    top: 20px;
    left: 160px;
    width: 1280px;
}

#nextPage {
    float: right;
    position: relative;
    top: 35px;
    right: 5px;
    background-color: rgb(70, 70, 70);
    text-align: center;
    color: orangered;
    border: 2px;
    border-style: outset;
    border-color: orangered;
    padding: 5px;
}

#closePrologue {
    display: none;
    float: right;
    position: relative;
    top: 35px;
    right: 5px;
    background-color: rgb(70, 70, 70);
    text-align: center;
    color: orangered;
    border: 2px;
    border-style: outset;
    border-color: orangered;
    padding: 5px;
}

#prologueImage1 {
    display: block;
}

#prologueImage2 {
    display: none;
}